<ul id="contacts">
  <li><a href="http://twitter.com/subfuzion" rel="me" target="_blank"><i class="icon-twitter icon-4x">&nbsp;</i><br />Twitter</a></li>
  <li><a href="http://linkedin.com/in/tonypujals" rel="me" target="_blank"><i class="icon-linkedin icon-4x">&nbsp;</i><br />
  LinkedIn</a></li>
  <li><a href="https://plus.google.com/102984300827610104769?rel=author" rel="me" target="_blank"><i class="icon-google-plus icon-4x">&nbsp;</i><br />
  Google</a></li>
  <li><a href="https://github.com/tonypujals" rel="me" target="_blank"><i class="icon-github icon-4x">&nbsp;</i><br />
  GitHub</a></li>
</ul>